fine_tuned_bert_multi_label_classifier_temuulen/fingerprint.pb
fine_tuned_bert_multi_label_classifier_temuulen/keras_metadata.pb
fine_tuned_bert_multi_label_classifier_temuulen/saved_model.pb
fine_tuned_bert_multi_label_classifier_temuulen/variables/variables.data-00000-of-00001
fine_tuned_bert_multi_label_classifier_temuulen/variables/variables.index
