ft_bert_temuulen3/config.json
ft_bert_temuulen3/model.safetensors
ft_bert_temuulen3/checkpoint-102/config.json
ft_bert_temuulen3/checkpoint-102/model.safetensors
ft_bert_temuulen3/checkpoint-102/optimizer.pt
ft_bert_temuulen3/checkpoint-102/rng_state.pth
ft_bert_temuulen3/checkpoint-102/scheduler.pt
ft_bert_temuulen3/checkpoint-102/special_tokens_map.json
ft_bert_temuulen3/checkpoint-102/tokenizer_config.json
ft_bert_temuulen3/checkpoint-102/tokenizer.json
ft_bert_temuulen3/checkpoint-102/trainer_state.json
ft_bert_temuulen3/checkpoint-102/training_args.bin
ft_bert_temuulen3/checkpoint-102/vocab.txt
ft_bert_temuulen3/checkpoint-204/config.json
ft_bert_temuulen3/checkpoint-204/model.safetensors
ft_bert_temuulen3/checkpoint-204/optimizer.pt
ft_bert_temuulen3/checkpoint-204/rng_state.pth
ft_bert_temuulen3/checkpoint-204/scheduler.pt
ft_bert_temuulen3/checkpoint-204/special_tokens_map.json
ft_bert_temuulen3/checkpoint-204/tokenizer_config.json
ft_bert_temuulen3/checkpoint-204/tokenizer.json
ft_bert_temuulen3/checkpoint-204/trainer_state.json
ft_bert_temuulen3/checkpoint-204/training_args.bin
ft_bert_temuulen3/checkpoint-204/vocab.txt
ft_bert_temuulen3/checkpoint-306/config.json
ft_bert_temuulen3/checkpoint-306/model.safetensors
ft_bert_temuulen3/checkpoint-306/optimizer.pt
ft_bert_temuulen3/checkpoint-306/rng_state.pth
ft_bert_temuulen3/checkpoint-306/scheduler.pt
ft_bert_temuulen3/checkpoint-306/special_tokens_map.json
ft_bert_temuulen3/checkpoint-306/tokenizer_config.json
ft_bert_temuulen3/checkpoint-306/tokenizer.json
ft_bert_temuulen3/checkpoint-306/trainer_state.json
ft_bert_temuulen3/checkpoint-306/training_args.bin
ft_bert_temuulen3/checkpoint-306/vocab.txt
ft_bert_temuulen3/runs/Feb01_14-50-53_temulenbd-pc/events.out.tfevents.1706799058.temulenbd-pc.16032.0
ft_bert_temuulen3_tokenizer/special_tokens_map.json
ft_bert_temuulen3_tokenizer/tokenizer_config.json
ft_bert_temuulen3_tokenizer/tokenizer.json
ft_bert_temuulen3_tokenizer/vocab.txt
ft_bert_temuulen/checkpoint-102/config.json
ft_bert_temuulen/checkpoint-102/model.safetensors
ft_bert_temuulen/checkpoint-102/optimizer.pt
ft_bert_temuulen/checkpoint-102/rng_state.pth
ft_bert_temuulen/checkpoint-102/scheduler.pt
ft_bert_temuulen/checkpoint-102/special_tokens_map.json
ft_bert_temuulen/checkpoint-102/tokenizer_config.json
ft_bert_temuulen/checkpoint-102/tokenizer.json
ft_bert_temuulen/checkpoint-102/trainer_state.json
ft_bert_temuulen/checkpoint-102/training_args.bin
ft_bert_temuulen/checkpoint-102/vocab.txt
ft_bert_temuulen/checkpoint-204/config.json
ft_bert_temuulen/checkpoint-204/model.safetensors
ft_bert_temuulen/checkpoint-204/optimizer.pt
ft_bert_temuulen/checkpoint-204/rng_state.pth
ft_bert_temuulen/checkpoint-204/scheduler.pt
ft_bert_temuulen/checkpoint-204/special_tokens_map.json
ft_bert_temuulen/checkpoint-204/tokenizer_config.json
ft_bert_temuulen/checkpoint-204/tokenizer.json
ft_bert_temuulen/checkpoint-204/trainer_state.json
ft_bert_temuulen/checkpoint-204/training_args.bin
ft_bert_temuulen/checkpoint-204/vocab.txt
ft_bert_temuulen/checkpoint-306/config.json
ft_bert_temuulen/checkpoint-306/model.safetensors
ft_bert_temuulen/checkpoint-306/optimizer.pt
ft_bert_temuulen/checkpoint-306/rng_state.pth
ft_bert_temuulen/checkpoint-306/scheduler.pt
ft_bert_temuulen/checkpoint-306/special_tokens_map.json
ft_bert_temuulen/checkpoint-306/tokenizer_config.json
ft_bert_temuulen/checkpoint-306/tokenizer.json
ft_bert_temuulen/checkpoint-306/trainer_state.json
ft_bert_temuulen/checkpoint-306/training_args.bin
ft_bert_temuulen/checkpoint-306/vocab.txt
ft_bert_temuulen/runs/Feb03_15-11-49_temulenbd-pc/events.out.tfevents.1706973109.temulenbd-pc.16208.0
ft_bert_temuulen2/config.json
ft_bert_temuulen2/model.safetensors
ft_bert_temuulen3/runs/Feb03_14-56-05_temulenbd-pc/events.out.tfevents.1706972165.temulenbd-pc.1972.0
ft_bert_temuulen_tokenizer2/special_tokens_map.json
ft_bert_temuulen_tokenizer2/tokenizer_config.json
ft_bert_temuulen_tokenizer2/tokenizer.json
ft_bert_temuulen_tokenizer2/vocab.txt
data_jobads_final.csv
data_jobads_final.csv
data_jobads_final.csv
ft_bert_temuulen/runs/Feb05_13-22-50_temulenbd-pc/events.out.tfevents.1707139373.temulenbd-pc.13224.0
ft_bert_temuulen/runs/Feb05_13-24-15_temulenbd-pc/events.out.tfevents.1707139458.temulenbd-pc.21356.0
data_jobads_final.csv
ft_bert_temuulen/runs/Feb06_21-26-17_temulenbd-pc/events.out.tfevents.1707254777.temulenbd-pc.9268.0
ft_bert_temuulen/runs/Feb06_21-29-22_temulenbd-pc/events.out.tfevents.1707254962.temulenbd-pc.15060.0
benchmark_test.csv
benchmark_train.csv
ft_word2vec_temuulen
GoogleNews-vectors-negative300.bin
ag_news_test.txt
ag_news_train.txt
cosine-bert
cosine-bert.csv
