ag_news_test.csv
cosine_bert.csv
cosine_tfidf.csv
cosine_user1.csv
ag_news_train.csv
cosine_user2.csv
cosine_user3.csv
cosine_word2vec.csv
data_jobads_da_20jan.csv
data_jobads_da.csv
data_jobads_e_20jan.csv
data_jobads_e.csv
data_jobads_final.csv
data_jobads_rn_20jan.csv
data_jobads_rn.csv
data_jobseeker.csv
GoogleNews-vectors-negative300.bin
ppt for VIVA.pptx
project report.docx
raw_data_jobseeker.csv
user_1_bert_evaluation.csv
user_1_tfidf_evaluation.csv
user_1_word2vec_evaluation.csv
user_2_bert_evaluation.csv
user_2_tfidf_evaluation.csv
user_2_word2vec_evaluation.csv
user_3_bert_evaluation.csv
user_3_tfidf_evaluation.csv
user_3_word2vec_evaluation.csv
appendix/appendix. CCT Ethics Approval Application.doc
appendix/appendix. CCTP517 IP created by students.docx
ft_bert_temuulen/checkpoint-184/config.json
ft_bert_temuulen/checkpoint-184/model.safetensors
ft_bert_temuulen/checkpoint-184/optimizer.pt
ft_bert_temuulen/checkpoint-184/rng_state.pth
ft_bert_temuulen/checkpoint-184/scheduler.pt
ft_bert_temuulen/checkpoint-184/special_tokens_map.json
ft_bert_temuulen/checkpoint-184/tokenizer_config.json
ft_bert_temuulen/checkpoint-184/tokenizer.json
ft_bert_temuulen/checkpoint-184/trainer_state.json
ft_bert_temuulen/checkpoint-184/training_args.bin
ft_bert_temuulen/checkpoint-184/vocab.txt
ft_bert_temuulen/checkpoint-276/config.json
ft_bert_temuulen/checkpoint-276/model.safetensors
ft_bert_temuulen/checkpoint-276/optimizer.pt
ft_bert_temuulen/checkpoint-276/rng_state.pth
ft_bert_temuulen/checkpoint-276/scheduler.pt
ft_bert_temuulen/checkpoint-276/special_tokens_map.json
ft_bert_temuulen/checkpoint-276/tokenizer_config.json
ft_bert_temuulen/checkpoint-276/tokenizer.json
ft_bert_temuulen/checkpoint-276/trainer_state.json
ft_bert_temuulen/checkpoint-276/training_args.bin
ft_bert_temuulen/checkpoint-276/vocab.txt
ft_bert_temuulen/checkpoint-92/config.json
ft_bert_temuulen/checkpoint-92/model.safetensors
ft_bert_temuulen/checkpoint-92/optimizer.pt
ft_bert_temuulen/checkpoint-92/rng_state.pth
ft_bert_temuulen/checkpoint-92/scheduler.pt
ft_bert_temuulen/checkpoint-92/special_tokens_map.json
ft_bert_temuulen/checkpoint-92/tokenizer_config.json
ft_bert_temuulen/checkpoint-92/tokenizer.json
ft_bert_temuulen/checkpoint-92/trainer_state.json
ft_bert_temuulen/checkpoint-92/training_args.bin
ft_bert_temuulen/checkpoint-92/vocab.txt
ft_bert_temuulen/runs/Feb15_14-13-32_temulenbd-pc/events.out.tfevents.1708006413.temulenbd-pc.16660.0
ft_bert_temuulen/runs/Feb23_13-35-51_temulenbd-pc/events.out.tfevents.1708695356.temulenbd-pc.27848.0
ft_bert_temuulen2/config.json
ft_bert_temuulen2/model.safetensors
ft_bert_temuulen2_benchmark/config.json
ft_bert_temuulen2_benchmark/model.safetensors
ft_bert_temuulen_benchmark/checkpoint-105/config.json
ft_bert_temuulen_benchmark/checkpoint-105/model.safetensors
ft_bert_temuulen_benchmark/checkpoint-105/optimizer.pt
ft_bert_temuulen_benchmark/checkpoint-105/rng_state.pth
ft_bert_temuulen_benchmark/checkpoint-105/scheduler.pt
ft_bert_temuulen_benchmark/checkpoint-105/special_tokens_map.json
ft_bert_temuulen_benchmark/checkpoint-105/tokenizer_config.json
ft_bert_temuulen_benchmark/checkpoint-105/tokenizer.json
ft_bert_temuulen_benchmark/checkpoint-105/trainer_state.json
ft_bert_temuulen_benchmark/checkpoint-105/training_args.bin
ft_bert_temuulen_benchmark/checkpoint-105/vocab.txt
ft_bert_temuulen_benchmark/checkpoint-210/config.json
ft_bert_temuulen_benchmark/checkpoint-210/model.safetensors
ft_bert_temuulen_benchmark/checkpoint-210/optimizer.pt
ft_bert_temuulen_benchmark/checkpoint-210/rng_state.pth
ft_bert_temuulen_benchmark/checkpoint-210/scheduler.pt
ft_bert_temuulen_benchmark/checkpoint-210/special_tokens_map.json
ft_bert_temuulen_benchmark/checkpoint-210/tokenizer_config.json
ft_bert_temuulen_benchmark/checkpoint-210/tokenizer.json
ft_bert_temuulen_benchmark/checkpoint-210/trainer_state.json
ft_bert_temuulen_benchmark/checkpoint-210/training_args.bin
ft_bert_temuulen_benchmark/checkpoint-210/vocab.txt
ft_bert_temuulen_benchmark/checkpoint-315/config.json
ft_bert_temuulen_benchmark/checkpoint-315/model.safetensors
ft_bert_temuulen_benchmark/checkpoint-315/optimizer.pt
ft_bert_temuulen_benchmark/checkpoint-315/rng_state.pth
ft_bert_temuulen_benchmark/checkpoint-315/scheduler.pt
ft_bert_temuulen_benchmark/checkpoint-315/special_tokens_map.json
ft_bert_temuulen_benchmark/checkpoint-315/tokenizer_config.json
ft_bert_temuulen_benchmark/checkpoint-315/tokenizer.json
ft_bert_temuulen_benchmark/checkpoint-315/trainer_state.json
ft_bert_temuulen_benchmark/checkpoint-315/training_args.bin
ft_bert_temuulen_benchmark/checkpoint-315/vocab.txt
ft_bert_temuulen_benchmark/runs/Feb15_14-57-42_temulenbd-pc/events.out.tfevents.1708009063.temulenbd-pc.16660.1
ft_bert_temuulen_tokenizer2/special_tokens_map.json
ft_bert_temuulen_tokenizer2/tokenizer_config.json
ft_bert_temuulen_tokenizer2/tokenizer.json
ft_bert_temuulen_tokenizer2/vocab.txt
ft_bert_temuulen_tokenizer2_benchmark/special_tokens_map.json
ft_bert_temuulen_tokenizer2_benchmark/tokenizer_config.json
ft_bert_temuulen_tokenizer2_benchmark/tokenizer.json
ft_bert_temuulen_tokenizer2_benchmark/vocab.txt
